@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  text-align: center;
  margin: 50px 0;
}
.header__logo {
  border-radius: 50%;
  width: 200px;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
}
.header__wrapper img {
  width: 30px;
  height: 30px;
}
.header__wrapper a {
  width: 100%;
}
.header__wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgb(133, 51, 51);
  padding: 10px 100px;
  font-weight: 600;
  transition: 0.5s;
  width: 100%;
  font-size: 18px;
}
.header__wrapper button:hover {
  background: rgb(80, 30, 30);
}
.header__box {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header__box a {
  width: 100%;
}
.header__box button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgb(133, 51, 51);
  padding: 30px 0;
  font-weight: 600;
  transition: 0.5s;
  width: 100%;
}
.header__box button img {
  width: 50px;
}
.header__box button:hover {
  background: rgb(80, 30, 30);
}
@media (max-width: 470px) {
  .header__box {
    flex-wrap: wrap;
  }
}

body {
  background: #000;
  color: #fff;
  font-family: "Roboto";
}

.container {
  margin: 0 auto;
  max-width: 1720px;
}

button {
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

h4 {
  margin: 50px 0;
}

ul {
  list-style: none;
}

.best {
  margin: 50px 0;
}
.best__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.best__info {
  text-align: center;
  background: rgb(133, 51, 51);
  width: 350px;
  padding: 15px 10px;
  border-radius: 40px;
}

.questions__info p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0;
  font-size: 22px;
  margin: 0;
}
.questions__info.active p {
  max-height: 50px;
  padding: 10px 0;
}
.questions__info h4 {
  cursor: pointer;
  font-size: 25px;
}

.catalog__list {
  display: flex;
  justify-content: start;
  gap: 30px;
  margin: 40px 0;
  overflow: scroll;
}
.catalog__list::-webkit-scrollbar {
  display: none;
}
.catalog__list li {
  cursor: pointer;
  background: rgb(133, 51, 51);
  font-weight: 600;
  font-size: 24px;
  padding: 15px 30px;
  border-radius: 10px;
  transition: 0.5s;
  white-space: nowrap;
}
.catalog__list li:hover {
  background: rgb(80, 30, 30);
}
.catalog__content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.catalog__set {
  width: 305px;
  border-radius: 30px;
  background: rgb(133, 51, 51);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog__set h4 {
  font-size: 29px;
  font-weight: 600;
  color: rgb(142, 214, 70);
}
.catalog__set button {
  background: #fff;
  color: #000;
  font-weight: 700;
  font-size: 24px;
  padding: 10px 30px;
  transition: 0.5s;
}
.catalog__set button:hover {
  background: #000;
  color: #fff;
}
.catalog__set img {
  width: 200px;
}
.catalog .line {
  border: solid 1px #fff;
}
.catalog__counter {
  background: #f2ede7;
  border-radius: 8px;
  width: 120px;
  display: flex;
  font-size: 18px;
  height: 30px;
  overflow: hidden;
}
.catalog__control {
  width: 40px;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-align: center;
  background: black;
}
.catalog__control:hover {
  background: #FFF;
  color: #000;
}
.catalog__current {
  width: 40px;
  background: black;
}

.basket {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0;
}
.basket button {
  background: rgb(133, 51, 51);
}
.basket img {
  width: 50px;
}

.clear-cart {
  width: 200px;
  color: #fff;
  background: rgb(133, 51, 51);
  padding: 20px 0;
  font-weight: 700;
  font-size: 18px;
}

.cart {
  margin: 40px 0;
}

.cart-item {
  background: rgb(133, 51, 51);
  padding: 25px 20px;
  border-radius: 20px;
  width: 400px;
}

.cart-items {
  display: flex;
  gap: 30px;
  border-radius: 20px;
  text-align: center;
  padding: 20px 10px;
}
.cart-items img {
  width: 200px;
}
.cart-items p {
  font-size: 20px;
  font-weight: 600;
}
.cart-items h3 {
  font-size: 26px;
}

.cart-total {
  font-weight: 600;
  font-size: 30px;
  margin: 30px 0;
}/*# sourceMappingURL=style.css.map */